@using EloWeb.Models
@model System.Collections.Generic.IEnumerable<Game>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>

<h4>
    @Html.ActionLink("Add Game", "Create", null, new {@class = "btn btn-primary"})
</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Last 20 Games (Most Recent First)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Winner.Name, "Details", "Players", new { name = item.Winner.Name }, null)
                beat 
                @Html.ActionLink(item.Loser.Name, "Details", "Players", new { name = item.Loser.Name }, null)
            </td>
        </tr>
    }
    </tbody>
</table>
