html {
    height: 100%;
}

body {
    min-height: 100%;
}

.top-nav {
    height: 52px;
    border-radius: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    position: absolute;
    top: 52px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y:scroll;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ol {
    list-style-type: upper-alpha;
}

ol ol {
    list-style-type: decimal;
}

ol ol ol {
    list-style-type: lower-roman;
}

.centredImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.checkBoxListItem {
    float: left;
    width: 120px;
}

.top-buffer {
    margin-top: 15px;
}